/.env
/.env.*
!/.env.example
/vendor/
/node_modules/
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/app/private/*
/storage/app/public/*
/storage/framework/*
/storage/logs/*
/.phpunit.cache/
/.phpunit.result.cache
/auth.json
/.idea/
/.vscode/
.DS_Store
Thumbs.db
